body {
    background: #fff !important
}

.overflow-a {
    overflow: auto
}

.margin-left{
    margin-left: 00px;
    min-height: 400px;
}

.table th a {
    color: #000;
    font-size: 14px;
    font-weight: normal;
}

.table td {
    font-size: 11px;
}

.no-warp {
    white-space: nowrap
}

#jq-datatables-example_filter input {
    width: 50px;
}

.DT-search {
    width: 70px !important;
}

#jq-datatables-example_length {
    width: 50px;
}

#jq-datatables-example_length input {
    height: 30px;
    width: 50px !important;
}

.change_page_all_div input {
    float: left;
    width: 50px;
    height: 30px;
    margin-left: 3px;
}

.gradeA .even {
    border: none;
    background-color: transparent;
    width: auto;
}

.style {
    float: left;
    margin: -8px;
}

#content-wrapper {
    min-height: 800px;
}

.mail-nav .navigation {
    margin-top: -30px;
}

.mail-nav li.active a {
    text-align: center;
    padding-top: 15px !important;
    padding-left: 0px !important;
    height: 55px;

    /*border-bottom:1px solid #DBDBDB;*/
}

.table-light a.fa {
    color: #C7C4C4 !important;
    font-size: 14px;

}

/*
 .table-light  li.active span{background-color:#C7C4C4 !important;
 border-color: #C7C4C4  !important;
 }

 .mail-nav{
       display:none;
   }
 .page-mail .mail-container{
       margin-left:0 !important;
   }*/
.table-light th {
    border-top: 3px solid #DBDBDB !important;
}

.center_page_all_div {
    background: #fff;
}

#main-wrapper {
    background: #fff;
}

.mail-container-header {
    background: #fff !important;
}

.page-header {
    background: none !important
}

.panel {
    margin-bottom: 0px
}

.mail-nav .navigation {
    margin-top: -20px !important;
}

#main-wrapper {
    padding-top: 2px;
}

.new_symbol_tr {
    border-top: 2px solid #ccc;
}

/*________________________________________ibportal*/
.twitter-typeahead {
    display: block !important
}

/*_____________________assign_users*/
#assignUsersAllDiv {

}

#assignUsersAllDiv button {
    width: 48%;
    width: calc(50% - 2px);
}

#selectedUsers, #usersList {
    min-height: 300px;
}

.page-left{
    margin-left: 0px !important;
    min-height: 400px;
}

/*___________________End__assign_users*/
/*_____________________________________End___ibportal*/

.insert_customHtml_submit {
    margin-top: 10px;
}

/*_________________________editConfigDropdown*/
.dropDownEditAllDiv select option {
    background-color: #CDE8F9;
    color: #000;
    margin: 2px 0px;
}

.dropDownEditAllDiv select option:hover {
    background-color: #fa6b59;
    cursor: pointer;

}

.dropDownEditAllDiv select option:before {
    content: 'X';
    padding: 5px;
    margin: 2px 5px;
    color: #fff;

}

/*_____________________END____editConfigDropdown*/


/* Accounts List */
/*#content-wrapper {*/
     /*padding: 0px;*/
     /*margin: 0px;*/
 /*}*/


/*#content-wrapper{ padding: 0px; margin: 0px !important;height: auto; overflow:visible !important ;}*/

.nav-input-div {
    padding: 7px;
}

.mail-container-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
    padding: 5px !important;
}

.theme-default .page-mail {
    overflow: visible;
    height: auto;
    min-height: 800px;
}

.center_page_all_div {
    padding: 0px 10px;
}

.mail-nav .navigation {
    margin-top: 35px;
}
/*_______END__Accounts List*/

.clearfix {
    clear: both;
}

#position_1, #position_2, #position_3 {
    float: left;
}

/*_______Summary*/
g.highcharts-legend{display:none;}


/*____End___Summary*/

/*_____Agent Summary*/
g.highcharts-legend{display:none;}
#chartContainer{
    display: inline-block;
    width: 100%;
    padding-top:10px;}
/*____End___Agent Summary*/

/*_____Accounts Statement Report*/
.user-info-table th {
    text-align: right;
}

.user-info-table td {
    text-align: left;
}

/*____End____Accounts Statement Report*/


/*_____market Watch*/
.clock_all_section {

    /* background:#f00; */

    border: 1px solid #CCC;
    overflow: auto;
}

.clock_all_section .panel {
    margin-bottom: 0px;
}

.day_tab_all_div {
    display: inline-block;
    margin: 11px auto 0px auto;
    float: left;
    min-width: 200px;
    width: 18%;
}

.one_day_tab_div {
    display: block;
    float: left;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    width: 14.28%;
}

.one_day_tab_div.active {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-bottom: none;
    width: 10%;
    width: calc(14.28% - 2px);
}

.clock_all_section .clock_header {

    background: #EEE;

    min-height: 40px;

    width: 100%;

    border-bottom: #CCC !important;

    overflow: auto;
}

.clock_body_section {
    padding: 10px;
    /* background:#f00; */
    border-top: #000000 !important;
    overflow: auto;
}

.forex_hours_all_row {
    overflow: auto;
}

.forex_hours_all_row .left_label_div {
    width: 16%;
    float: left;
    text-align: right;
    padding: 0px 2%;
}

.forex_hours_container {
    overflow: auto;
    width: 80%;
    float: right;
    position: relative;
    height: 200px;
    overflow: hidden;
}

.on_city_period_div {
    position: absolute;
    text-align: center;
    padding: 2px 0px;
    background-color: rgba(0, 108, 183, 0.5);
    border: 1px solid #4A83C4;
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
    height: 15px;
    overflow: hidden;
}

.forex_hour_one_div {
    min-height: 999999999px;
    width: 4.166%;
    width: calc(4.166% - 1px);
    float: left;
    border-left: 1px dotted #000000;
}

.forex_hour_one_div:last-child {
    border-right: 1px dotted #000000;
    width: calc(4.166% - 2px);
}

.hours_bar_container_all_div {
    width: 80%;
    float: right;
}

.hours_bar_container {
    position: relative;
    margin: 10px 0px;
    width: 100%;
    float: right;
}

#hours_bar_container_place {
    width: 100%;
    /* clear: both; */
    overflow: visible;
    float: right;
    position: relative;
    margin: 0px 0px;
}

.clock_hours_row {
}

.clock_hours_row .left_label_div {
    width: 20%;
    float: left;
    padding-top: 8px;
}

.city_info_all_div {
    float: left;
    height: 70px;
    width: 100%;
}

.city_name_all_div {
    float: left;
    width: 40%;
    padding: 10px 0px;
}

.home_icon {
    float: left;
}

.city_name {
    float: left;
    font-weight: bold;
}

.eet_div {
    color: #cccccc;
    font-size: 12px;
}

.country_name {
    float: laft;
    clear: both;
    padding-left: 10px;
}

.city_hour_all_div {
    float: right;
    width: 60%;
    text-align: right;
    padding-right: 5px;
}

.city_hour_all_div .city_hour {
    float: laft;
    font-size: 22px;
}

.city_hour_all_div .city_hour span {
    color: #cccccc;
    float: laft;
    font-size: 14px;
}

.city_hour_all_div .city_date {
    color: #cccccc;
    font-size: 10px;
}

.hours_bar_all_div {
    /* position:relative; */
    background: #FFF;

    overflow: auto;

    border-radius: 1px !important;

    /*border: 1px solid #8BA3C9;*/
}

.one_hour_div {
    float: left;
    width: 4.166%;
    text-align: center;
    padding: 5px 0px;
    border-top: 1px solid #8BA3C9;
    border-bottom: 1px solid #8BA3C9;
}

.one_hour_div.first {
    border-radius: 10px 0px 0px 10px;

    border-left: 1px solid #8BA3C9;
    width: calc(4.166% - 1px);
    /*   background-color:#6688B1 !important;*/
    /* border-top-left-radius:10px; */
    /* border-bottom-left-radius:10px; */
}

.one_hour_div.last {
    border-radius: 0px 10px 10px 0px;

    border-right: 1px solid #8BA3C9;
    width: calc(4.166% - 3px);
    margin-right: 2px;
}

.one_hour_div:last-child {

    /*border-top-right-radius:10px;*/
    /*border-bottom-right-radius:10px;*/
}

.one_hour_div.before {

    background: #95B3D7;

    color: #ffffff;
}

.one_hour_div.white {

    background: #ffffff;

    color: #95B3D7;
}

.one_hour_div.after {

    background: #95B3D7;

    color: #ffffff;
}

.one_hour_div:first-child {
    /*background-color:#8BA3C9;*/
}

.one_hour_div span {
}

.one_hour_div p {
    margin: 0px;
    padding: 0px;
}

.over_hour_box_div {
    position: absolute;
    z-index: 9;
    top: 10px;
    left: 0px;
    bottom: 9px;
    width: 4.166%;
    border-radius: 1px;
    /* border: 1px solid #000000; */
    /* border-left: 1px dashed #000000; */
    /* border-right: 1px dashed #000000; */
    background: rgba(175, 178, 208, 0.5);
}

/*___End__market Watch*/


/* holiday Details*/
.hoursLneAllDiv {
    width: 100%;
    height: 30px;
    position: relative;
}

.hourPeriodDiv {
    position: absolute;
    height: 30px;
    background-color: rgba(141, 195, 40, 0.46);
}

.oneHourDiv {
    width: 4.166666666666%;
    margin-right: -1px;
    margin-left: 1px;
    border-left: 1px solid #aaa;
    float: left;
    height: 30px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}
/* __End__ holiday Details*/



/* Register */
.theme-default.page-signup .signup-header{
    background: rgb(113, 153, 179);
}

/* End Register */


#statistics_section {
    margin: 20px 0px;
    width: 100%;
    border-top: 1px solid #ccc;
}

/* Dashboard */
#statistics_table {
    margin: 20px 0px;
    width: 100%;

}

#statistics_table td, #statistics_table th {
    padding: 5px 10px;
    width: 25%;
    font-size: 10px;
}
#statistics_table>div{
    border-right: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
}
#statistics_table div div {
    text-align: right;
    float: right;
    font-weight: normal;

}

#statistics_table td:nth-child(4) {
    border-right: 1px solid transparent;
}

#statistics_table th {
    text-align: left;
    font-weight: normal;
}

#statistics_table th:after {
    content: ':';
}

.blue_font {
    color: #1D89CF;
}

.red_font {
    color: #f00;
}

.tooltip_number_dashborad {
    cursor: pointer;
    display: block !important;
    float: left;
    width: 50%;
}

.tooltip_number {
    cursor: pointer;
}

g.highcharts-legend {
    display: none;
}

.buttonsScrollDiv .stat-cell {
    display: block !important;
    margin: 5px 0px;
}

.stat-cell-account {
    display: block !important;
    margin: 0px;
}

.stat-cell.bg-info {
    border-bottom: 3px solid #25BAE6;
}
.stat-row a.stat-cell.bg-info{border-bottom:none !important;}
.stat-cell.bg-default {
    border-bottom: 3px solid #cfcece;
}

.buttonsScrollDiv{position: relative;overflow: hidden;padding:20px 0px;}
.buttonsScrollDiv .scrollBody{}
.buttonsScrollDiv .scrollUp,.buttonsScrollDiv .scrollDown{
    position:absolute;
    width:100%;
    text-align:center;
    padding:5px 0px;
    background-color: #1D89CF;
    color:#ffffff;
    z-index: 2;
    left:0px;
    opacity: 0.3;

}
.buttonsScrollDiv:hover .scrollUp,.buttonsScrollDiv:hover .scrollDown{ opacity:1;}
.buttonsScrollDiv .scrollUp{
    top:0px;
}
.buttonsScrollDiv .scrollDown{
    bottom:0px;

}

/* End Dashboard*/

/* Symbols Chart */
#statistics_section{
    margin:20px 0px;
    width:100%;
    border-top:1px solid #ccc;}
#statistics_table{
    margin:20px 0px;
    width:100%;

}

#statistics_table td, #statistics_table th{ padding: 5px 10px;width:25%;font-size: 10px;}
#statistics_table td{text-align: right;border-right:1px solid #ccc;}
#statistics_table td:nth-child(4){border-right:1px solid transparent;}

#statistics_table th{text-align: left; font-weight: normal;}
#statistics_table th:after{content:':';}

/* End Symbols Chart */

/*_______________________________________dashboard*/
#growth_chart_all_div_no_select{
    height:400px;
    background: url('../img/chartBackground.png');
    background-size: cover;
}
.over_description_text{
    width:100%;
    text-align: center;
}
.over_description_text:hover{
    background-color: rgba(255,255,255,0.5);
}
#growth_chart_all_div_no_select .over_description_text{
padding-top:150px;
    font-size: 48px;
    color: #1D89CF;
    height:400px;
    cursor:pointer;

}

#population_column_all_div{
    height:400px;
    background: url('../img/populationColumn.png');
    background-size: cover;

}

#population_pie_all_div{
    height:400px;
    background: url('../img/pieChart.png');
    background-size: cover;

}



.icon_button{ border:none; background-color: transparent;
    width: auto;
    color:#C7C4C4 !important;
    font-size: 14px;

}

.icon_button i{
    color: #C7C4C4 !important;
}

#search-panel-toggle{
    border: none;
    background-color: #F8F8F8;
    /*background: #f00;*/
    height: 47px;
    margin: -10px 0px -10px -10px;
    outline:none;
}
#search-panel-toggle .fa-search{
    padding:0px 5px 0px 5px  !important;}


/*#search-panel-toggle  .fa-search:before{*/

    /*content: "\f0da";*/
/*}*/

/*#search-panel-toggle  .fa-search:after{*/
    /*content: "\f002";*/
    /*padding-left:5px;*/
    /*right: -10px;*/
/*}*/

