    <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Dital</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="https://themeforest.net/item/elite-admin-the-ultimate-dashboard-web-app-kit-material-design/16750820?ref=suniljoshi" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/index">Model</a></li>
                            <li class="active">Dietal</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
 <!--iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii-->
                              
                             
   <div class="row bg-title">
                                <div  *ngIf=model>
                           <div class="panel-body">
      <form class="form-horizontal" role="form" (submit)="edit()">
                                        <div class="form-body">
                            <hr class="m-t-0 m-b-40">

                                             <div class="row">
                                             <div class="col-md-6">
                                             <div class="form-group">
                                    <label class="control-label col-md-3">Name:</label>
                                            <div class="col-md-9">
                                    <p class="form-control-static" >   {{model.name}}</p>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                         
                                       <div class="row">
                                       <div class="col-md-6">
                                       <div class="form-group">
                                <label class="control-label col-md-3">Email:</label>
                                        <div class="col-md-9">
                                <p class="form-control-static"> {{model.email}} </p>
                                       </div>
                                       </div>
                                      </div>
                                     </div>
  
                                    <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                               <label class="control-label col-md-3">ID:</label>
                                   <div class="col-md-9">
                              <p class="form-control-static"> {{model.shop_id}} </p>
                                  </div>
                                  </div>
                                  </div>
                                 </div>

                              <div class="row">
                             <div class="col-md-6">
                             <div class="form-group">
                          <label class="control-label col-md-3">Number:</label>
                              <div class="col-md-9">
                            <p class="form-control-static" >   {{model.num}}</p>
                               </div>
                              </div>
                             </div>
                              </div>

                                   <div class="row">
                             <div class="col-md-6">
                             <div class="form-group">
                          <label class="control-label col-md-3">Model:</label>
                              <div class="col-md-9">
                            <p class="form-control-static" >   {{model.r1}}</p>
                               </div>
                              </div>
                             </div>
                              </div>

                                   <div class="row">
                             <div class="col-md-6">
                             <div class="form-group">
                          <label class="control-label col-md-3">Type:</label>
                              <div class="col-md-9">
                            <p class="form-control-static" >   {{model.car}}</p>
                               </div>
                              </div>
                             </div>
                              </div>

                                 <div class="row">
                             <div class="col-md-6">
                             <div class="form-group">
                          <label class="control-label col-md-3">status:</label>
                              <div class="col-md-9">
                            <p class="form-control-static" >   {{model.area}}</p>
                               </div>
                              </div>
                             </div>
                              </div>

                                   <div class="row">
                             <div class="col-md-6">
                             <div class="form-group">
                          <label class="control-label col-md-3">Date:</label>
                              <div class="col-md-9">
                            <p class="form-control-static" >   {{model.dates}}</p>
                               </div>
                              </div>
                             </div>
                              </div>

                                   <div class="row">
                             <div class="col-md-6">
                             <div class="form-group">
                          <label class="control-label col-md-3">Time:</label>
                              <div class="col-md-9">
                            <p class="form-control-static" >   {{model.timee}}</p>
                               </div>
                              </div>
                             </div>
                              </div>



                                            <div class="row">
                                              
                                                <div class="col-md-6">
                                                   
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            </div>

                                    <div class="form-actions">
                                   <div class="row">
                                   <div class="col-md-6">
                                   <div class="row">
                                   <div class="col-md-offset-3 col-md-9">                                       
                          <button type="button" (click)="goBack()" class="btn btn-default">Cancel</button>
                                         </div>
                                        </div>
                                        </div>
                                   <div class="col-md-6"> </div>
                                        </div>
                                        </div>

  </form>

                                     </div>
                                    </div>      
                                    </div>