<div class="row bg-title" style="background:url(style/assets/elite/plugins/images/heading-title-bg.jpg) no-repeat center center /cover;  ">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title" ><b style="color: white;"> Create</b></h4>
                           <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                        <ol class="breadcrumb">
                            <li><a routerLink="/admin/car">model</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                    </div>
                </div>

 <div class="white-box">   
   <div class="row bg-title">
    
<form class="form-horizontal" role="form" (submit)="create()">
        <div class="form-body">
                <h3 class="box-title">create</h3>
                 <hr class="m-t-0 m-b-40">
                     <div class="row">
               <div class="col-md-6">
                     <div class="form-group">
               <label class="control-label col-md-3">Name:</label>
                     <div class="col-md-9">
               <p class="form-control-static"   > 
               <input  #nameInput="ngModel" type="text" class="form-control" id="inputName1"  [(ngModel)]="model.name" name="name"   maxlength="7" minlength="3" placeholder="enter name" required >
               </p>
                     
                     <div class="alert alert-danger" *ngIf="nameInput.errors && (nameInput.dirty || nameInput.touched)">
                <span [hidden]="nameInput.errors.maxlength">Please enter a valid name maximum 7 & min 3 </span>     
            </div></div>
                     </div>
                     </div>


       

  
                   
                                 
            <div class="col-md-6">
                    <div class="form-group">
              <label class="control-label col-md-3">Email:</label>
                   <div class="col-md-9">
              <p class="form-control-static"> 
              <input #emailInput="ngModel"  [(ngModel)]="model.email" type="email" name="email" class="form-control" placeholder="Email"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />

            
                                                             </p>
                  <div class="alert alert-danger" *ngIf="emailInput.errors && (emailInput.dirty || emailInput.touched)">
                <span [hidden]="!emailInput.errors.pattern"> please enter a valid email </span>
                  </div>
                  </div>
                  </div>
                  </div>

 <div class="col-md-6">
                     <div class="form-group">
               <label class="control-label col-md-3">Number:</label>
                     <div class="col-md-9">
               <p class="form-control-static"   > 
               <input type="number" class="form-control"  [(ngModel)]="model.num" name="num" max="7" min="2" required #numInput="ngModel">
               </p>
                                            <div class="alert alert-danger" *ngIf="numInput.errors && (numInput.dirty || numInput.touched)">
                <span [hidden]="numInput.errors.max">Please enter a valid number maximum 7  min 3 </span>
            </div> </div>

                     </div>
                     </div>
              

  <div class="col-md-6">
                     <div class="form-group">
               <label class="control-label col-md-3">Time:</label>
                     <div class="col-md-9">
               <p class="form-control-static"   > 
               <input type="time" class="form-control" required  [(ngModel)]="model.timee" name="timee">
               </p>
                     </div>
                     </div>
                     </div> 

                 <div class="col-md-6">
                     <div class="form-group">
               <label class="control-label col-md-3">Date:</label>
                     <div class="col-md-9">
               <p class="form-control-static"   > 
               <input type="date" class="form-control"  required  [(ngModel)]="model.dates" name="dates">
               </p>
                     </div>
                     </div>
                     </div>

       <div class="col-md-6">
                           <div class="form-group">
                       <label class="control-label col-md-3" for="model_select">Type:</label> 
                     <div class="col-md-9">     
                            <select name="car" [(ngModel)]="model.car" required>
                               <option value="s1" >Volvo</option>
                               <option value="s2" >Saab</option>
                               <option value="s3" >Fiat</option>
                               <option value="s4" >Audi</option>
                           </select>     
                         </div>
                         </div> 
                         </div>

                 

    <div class="col-md-6">
                     <div class="form-group">
               <label class="control-label col-md-3">Gender :</label>
                     <div class="col-md-9">
              
              <div *ngFor="let r1 of rs">
        <input type="radio" name="r1" [(ngModel)]="models.r1" [value]="r1.value">
        {{r1.display}}     
    </div>    
              
                     </div>
                     </div>
                     </div>
         

                                            <div class="col-md-6">
                     <div class="form-group">
               <label class="control-label col-md-3">Status:</label>
                     <div class="col-md-9">
               <p class="form-control-static"   > 
               <textarea rows="4" cols="30" class="form-control"  [(ngModel)]="model.area" name="area">
               </textarea>
               </p>
                     </div>
                     </div>
                     </div>
                       
                   
  </div>
                    </div>
 <div class="form-actions">
                 <div class="row">
                 <div class="col-md-6">
                 <div class="row">
                 <div class="col-md-offset-3 col-md-9">
                
                   <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" style="background: #b4977a; border: 1px solid #b4977a">Create</button>
               
                  </div>
                  </div>
                  </div>
                 <div class="col-md-6"> </div>
                  </div>
                  </div>
                 </form>
                 </div></div>