/* ============================================
		    Author's Custom Stylesheet
   ============================================ */

/* ========== common style here ========== */

.full-width {
	width: 100%;
	float: left;
}
.padd-less {
	padding: 0;
}


.tot-bold{font-weight: bold !important;}
/* ========== menu page style here ========== */

.img_section img {
	width: 100%;
}
.actions_area {
	background: #f9f7f7;
	margin-top: 10px;
}
.actions_area ul {
	text-align: center;
	margin: 0;
}
.actions_area ul li {
	display: inline-block;
	padding: 15px 30px 15px 29px;
	position: relative;
	font-size: 18px;
	color: #000;
}
.time:before {
	background: url(../images/sprite_2.png) no-repeat -8px -3px;
	width: 37px;
	height: 37px;
	position: absolute;
	top: 14px;
	left: 0px;
	content: "";
}
/*.new-time:before{
	background: url(../images/01new-time.png)!important;
	width: 37px;
height: 37px;
position: absolute;
top: 10px;
}*/

.minute:before {
	background: url(../images/sprite_2.png) no-repeat -1px -51px;
	width: 49px;
	height: 39px;
	position: absolute;
	top: 14px;
	left: 0px;
	content: "";
}
.city:before {
	background: url(../images/sprite_2.png) no-repeat -13px -97px;
	width: 24px;
	height: 36px;
	position: absolute;
	top: 14px;
	left: 0px;
	content: "";
}
.links:before {
	background: url(../images/sprite_2.png) no-repeat -14px -137px;
	width: 28px;
	height: 37px;
	position: absolute;
	top: 14px;
	left: 0px;
	content: "";
}
.minute {
    padding: 15px 30px 15px 61px !important;
}
.time {
    padding: 15px 30px 15px 45px !important;
}
.rated {
    padding: 15px 10px 15px 10px !important;
}



/* need to change this styles */



/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
	border-bottom:5px solid;
	border-color: transparent;
}
.button {
  display: inline-block;
  padding: 10px 20px 3px;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
	background-color: transparent;
}


.button:hover {
  border-bottom: 5px solid #fff;
}

.button:active,
.button.is-checked {
  /*background-color: #28F;*/
	border-bottom: 5px solid #fff;
}

.button:active {
  border-bottom: 5px solid #fff;
}
.button.is-checked {
  color: white;
	border-bottom: 5px solid #fff;
}


/* ---- isotope ---- */

.grid {
  	background: #fff;
  	max-width: 100%;
	padding: 15px 0;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  	display: inline-block;
	width: 100%;
	background: #848281;
	padding: 0 30px 3px;
}

.ui-group h3 {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  font-size: 27px;
	color: white;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}
.img_cap {
	padding: 0;
}
.img_cap img {
	float: left;
	padding: 0 15px 0 0;
}
.img_cap h2 {
	font-size: 18px;
	font-weight: bold;
	float: left;
	color: #000;
	margin: 0;
}
.img_cap h2 span {
	display: block;
	font-weight: normal;
	padding-top: 15px;
	font-size: 16px;
}
.popAndrate {
	padding: 0;
	text-align: right;
}
.popAndrate h2 {
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	float:right;
	padding-top:5px;
}
.popAndrate a {
    display: block;
    padding: 0px 15px 0 10px;
	float:right;
}
.big_pop > img {
	width: 100%;
}
.modal-content , .modal-body {
	float: left;
	width: 100%;
}
.pop_contents h2 {
	font-size: 18px;
	font-weight: bold;
	float: left;
	min-width: 372px;
	margin: 15px 0;
}
.pop_contents h2 span {
	padding-left: 10%;
}
.quantity {
	float: right;
}
.quantity label {
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin: 10px 0;
}
.selectorSkill {
	margin-bottom: 15px;
}
.numb-box {
	float: right;
	padding: 0px 0 0 45px;
}
.up {
	width: 28px;
	height: 28px;
	border: none;
	float: left;
	margin-top: 8px;
	background-image: url(../images/up-btn.png);
	background-size: cover !important;
	background-color: #fff;
}
.down {
	background-image: url(../images/down-btn.png);
	background-size: cover !important;
	width: 28px;
	height: 28px;
	border: none;
	float: left;
	margin-top: 8px;
	background-color: #fff;
}
.numb-box input[type="text"] {
    border: medium none;
    font-size: 24px;
    text-align: center;
    width: 45px;
	float: left;
	line-height:44px;
}
.gray_drop {
	padding-top: 9px;
	padding-bottom: 9px;
}
.gray_drop h2 {
	font-size: 16px;
	margin: 0;
	padding: 5px 0;
}
.gray_drop h2 span {
	font-style: italic;
	font-weight: normal;
}
.gray_drop h2 span.requrd{
	color: #F00;
}
/* Radio button */

/* CSS used here will be applied after bootstrap.css */
/* custom radioes */
	.custom-radio > [type="radio"],
	.custom-radio > label{
		margin-bottom:0px !important;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.custom-radio > [type="radio"]:not(:checked),
	.custom-radio > [type="radio"]:checked {
		position: absolute;
		left: -9999px;
	}
	.custom-radio > [type="radio"]:not(:checked) + label,
	.custom-radio > [type="radio"]:checked + label {
		position: relative;
		padding-left: 25px;
		cursor: pointer;
	}
	.custom-radio > [type="radio"]:not(:checked) + label:before,
	.custom-radio > [type="radio"]:checked + label:before {
		content: '';
		position: absolute;
		left:0;
		top: 50%;
		margin-top:-12px;
		width: 23px;
		height: 23px;
		border: 2px solid #000;
		background: #ffffff;
		border-radius: 50%;
	}
	.custom-radio > [type="radio"]:not(:checked) + label:after,
	.custom-radio > [type="radio"]:checked + label:after {
		font: normal normal normal 13px/1 FontAwesome;
		content: '\f111';
		position: absolute;
		top: 50%;
		margin-top:-8px;
		left: 6px;
		color: #000;
		transition: all .2s;
	}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.custom-radio > [type="radio"]:not(:checked) + label:after,
	.custom-radio > [type="radio"]:checked + label:after {
		margin-top:-7px;

	}
}

	.custom-radio > [type="radio"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
	.custom-radio > [type="radio"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}

	.custom-radio > [type="radio"][data-indeterminate] + label:after,
	.custom-radio > [type="radio"][data-indeterminate] + label:after {
		content: '\f068';
		left: 6px;
		opacity: 1;
		transform: scale(1);
	}

	.custom-radio > [type="radio"]:disabled:not(:checked) + label:before,
	.custom-radio > [type="radio"]:disabled:checked + label:before {
	  	box-shadow: none;
	  	background-color: #eeeeee;
		border-color: #eeeeee;
		cursor: not-allowed;
		opacity: 1;
		color: #dadada;
	}
	.custom-radio > [type="radio"]:disabled:checked + label:after {
	  color: #dadada; cursor: not-allowed;
	}
	.custom-radio > [type="radio"]:disabled + label {
	  color: #aaa; cursor: not-allowed;
	}
	.custom-radio > [type="radio"]:checked:focus + label:before,
	.custom-radio > [type="radio"]:not(:checked):focus + label:before {
		border: 2px solid #000;

	}
	.custom-radio > label:hover:before {
  		border: 2px solid #000 !important;
	}
	.custom-radio > [type="radio"]:disabled:not(:checked) + label:hover:before,
	.custom-radio > [type="radio"]:disabled:checked + label:hover:before{
		border: 2px solid #000 !important;
	}


.pad15 {
	padding: 8px 0;
}
.pad15 .custom-radio label {
	font-size: 16px;
	padding-left: 37px !important;
}
.full-width.pad15 span {
    float: right;
    font-size: 16px;
    font-weight: bold;
}
.txt_noneborder {
	border: none;
	padding: 15px;
	resize: none;
	min-height: 18px;
}
.totalCart h2 , .totalCart button {
	width: 48%;
	float: left;
	border: none;
	margin: 0;
	font-size: 20px;
	font-weight: normal;
	height: 40px;
	min-width: 0 !important;
}
.totalCart h2 {
	background: #e5c5a5;
	padding: 10px 15px;
	margin-right: 1%;
}
.totalCart button {
	color: white;
	background: #848281;
}
.padbottom {
	padding-bottom: 0 !important;
}
.totalCart h2 span {
	float: right;
}
.all-modals button.close {
/*    background: #fff;
    border: 0 none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 9;
    padding: 5px 10px;
    position: absolute;
    right: -16px;
    top: -16px;
    z-index: 99;*/
	position: relative;
	top: 10px;
	right: -10px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
	background-image:url(../images/icon_close.svg) ;
	background-position: left top;
	background-repeat: no-repeat;
	width:27px; height:27px;
	opacity: 1;
	z-index: 100;
	margin-bottom: 8px;

}

.cartHeading h2 {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
	padding-bottom: 15px;
	float: left;
	width: 100%;
	color: #000;
	line-height:40px;
}
.cartHeading h2 img {
	padding-right: 10px;
	float: left;
	max-width: 40px;
	margin-top: 5px;
}
.img img {
	width: 100%;
}
.sech2 h2 , .last_remove h2 {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}
.removable {
	margin-bottom: 15px;
	color: #000;
}
.sech2 .numb-box {
	float: left;
	padding-left: 0;
}
.last_remove {
	text-align: right;
}
.last_remove > a {
    color: #000;
    font-size: 18px;
	text-decoration: none;
	float: right;
}
.last_remove img {
    padding-left: 10px;
}

.last_remove h2 {
    padding-top: 5px;
		float: right;
}
.min-height480 {
	min-height: 480px;
}
.gray_drop2 {
    background: #f9f7f7;
    padding: 9px 15px;
	margin-bottom: 15px;
}
.gray_drop2 h2 {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
.gray_drop2 h2 span {
	float: right;
}
.width100 { width: 100% !important;}

.accordian_example {
	min-height: 500px;
}
.accordian_example .panel-heading {
	padding: 0;
	border-radius: 0;
}
.accordian_example .panel {
	border-radius: 0;
}
/*.accordian_example .panel-heading , .accordian_example .panel-heading .panel-title , .accordian_example .panel {
	float: left;
	width: 100%;
}*/

.accordian_example .panel-heading .panel-title a {
	padding: 8px 15px;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	font-size: 18px;
	outline: none !important;
	font-weight: bold;
	color: #000;

}
.accordian_example .panel-default > .panel-heading {
	background:#f2ecec url(../images/down-arrow.svg) right 15px top 0px no-repeat;
}
.accordian_example .panel-default , .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
	border-color: #ccc;
}
.tab_section .nav-tabs > li {
	width: 50%;
	background: #848281;
/*	border: 1px solid #262626;
*/}
.nav-tabs > li > a {
    border-radius: 0;
    color: white !important;
    font-size: 20px;
	text-align: center;
	outline: none;
	margin-right: 0;
}
.tab_section .nav-tabs > li.active > a, .tab_section .nav-tabs > li.active > a:hover, .tab_section .nav-tabs > li.active > a:focus {
	border-color: transparent;
	background: #b59778;
}
.tab_section .nav > li > a:hover,
.tab_section .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;

}
.tab_section .nav-tabs > li > a:hover {
	border-color: transparent;
}

.tab_section .tab-content {
	border: 1px solid #ccc;
	border-top: none;
	padding: 30px;
	float: left;
	width: 100%;
	min-height: 500px;
}
.orders img {
	float: left;
}
.orders h2 {
	margin: 0;
	padding-left: 15px;
	font-size: 18px;
	float: left;
	color: #000;
	font-weight: bold;
	line-height:24px;

}
.orders h2 span {
	display: block;
	font-size: 18px;
	color: #000;
	line-height:24px;
	font-weight: normal;
}
.orders a {
	display: inline-block;
	text-align: center;
}
.orders a img  {
	float: none;
	text-align: center;
	margin-bottom: 6px;
}
.orders a span {
	width: 100%;
	float: left;
	font-size: 18px;
	color: #000;
}
.orders a span2 {
	width: 100%;
	float: left;
	font-size: 18px;
	color: #000;
}
.orders a:hover > span, .orders a:hover > span2{
	color: #b59778;
}
.txt_right {
	text-align: right;
}
.orders {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.orders .txt_right {
	padding-top: 20px;
}
.track_ul ul {
	position: relative;
}
.track_ul ul:before {
	width: 2px;
	height: 228px;
	background: #000;
	position: absolute;
	left: 35px;
	top: 25px;
	content: "";
}
.track_ul ul li {
	font-weight: bold;
	font-size: 20px;
	color: #000;
	padding: 11px 15px 15px 70px;
	position: relative;
}
.track_ul ul li:before {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #000;
	position: absolute;
	left: 25px;
	top: 15px;
	content: "";
}
.track_ul ul li.active:after {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #e5c6a4;
	border: 2px solid #000;
	position: absolute;
	left: 29px;
	top: 19px;
	content: "";
}
.track_ul ul li button {
    background: #b59778 ;
    border: none;
    border-radius: 19px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-left: 15px;
    padding: 0 35px;
}

.offers .offers_slide img {
	width: 100%;
}
.offers #bx-pager img {
	width: 100%;
}
.offers #bx-pager a {
	margin-bottom: 21px;
	float: left;
}
.mbtm {
	margin-bottom: 30px;
}
.mbtm2 {
	margin-bottom: 12px;
}


/*Vinu*/
.giftcard-container{
	width: 100%;
	float: left;
}
.v-gift{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.gift-img{
	position: relative;
	width: 100%;
	float: left;
}
.v-gift img{
	width: 100%;
	border-radius: 15px;
}
.v-gift .gift-percent{
	width: 86px;
	height: 86px;
	border-radius: 50%;
	background: #c7b299;
	color: #fff;
	text-align: center;
	border: #fff solid 4px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 27px;
	font-weight: bold;
	line-height: 80px;
}


.gift-head{
	width: 80%;
	float: left;
}
.v-gift h3{
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 7px;
}
.v-gift h4{
	font-size: 16px;
	color: #000000;
	margin-top: 0px;
}
.gift-more a{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: block;
	text-decoration: none;
	font-size: 30px;
	color: #000;
	text-align: center;
	line-height: 24px;
	float: right;
	margin: 20px 5px 0px 0px;
	background-image: url(../images/addcart-sprite.png);
	background-size: cover !important;
}
.gift-more a:hover{
	background-image: url(../images/addcart-sprite.png);
	background-size: cover !important;
	background-position: 0px 272px;
}





.gift-ordersummary{
	width: 100%;
	float: left;
	padding: 20px;
	border: #000 solid 1px;
}
.gift-ordersummary h2{
	font-size: 35px;
	font-weight: bold;
	border-bottom: #000 solid 1px;
	color: #000;
	margin-top: 0px;
	padding-bottom: 10px;
}
.v-custom-radio {
    display: inline-block;
    margin-right: 60px;
}
.giftcard-container .row {
    margin-bottom: 20px;
}
.gift-head a{
	color: #b59778;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
/*For temp*/
.logwrapp {
    border: 1px solid #ccc;
    float: left;
    padding: 25px 25px 5px;
    width: 100%;
}
.logwrapp .sign_in h3 {
    font-size: 20px;
}
.summaryy h4 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
}
.summaryy hr {
    border-color: #ccc;
    margin: 40px 0 0;
    padding-top: 20px;
}
.summaryy h4 span {
    float: right;
}
.payy {
    float: left;
    height: auto;
    padding-bottom: 10px;
    width: 100%;
}
.payy .custom-radio {
    margin-bottom: 10px;
}


/* custom radio */
.payy .custom-radio label {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-left: 35px;
}
.payy .custom-radio label img {
    margin-top: -7px;
    min-width: 65px;
    object-fit: none;
}

.pop_contents { color: #000; }







/* Media Query Starts here */

@media(min-width:992px){

.custom_width {	width: 850px; }

}/* end media query*/

@media(max-width:1200px){
	.v-gift h4{ font-size: 16px; }
	.v-gift h3{ font-size: 18px; }
}


@media(max-width:992px){

	.img_cap img { width: 100%;}
	.img_cap h2 { width: 100%; text-align: center; padding-top: 10px;}
	.popAndrate { text-align: center; padding-top: 15px;}
	.popAndrate a { padding-right: 0; float:none; }
	.button { font-size: 18px;}
	.selectorSkill { margin-bottom: 30px;}
	.track_ul ul li { font-size: 20px;  padding: 11px 15px 23px 70px;}
	.track_ul ul li button { font-size: 18px;}
	.cartHeading h2 { font-size: 20px;}
	.cartHeading h2 img { float: none;}
	.offers #bx-pager a { display: inline-block; padding: 10px 5px; width: 33%;}


}/* end media query*/

@media (max-width:767px){

	.button { padding: 20px 10px 6px; font-size: 15px;}
	.pop_contents { text-align: center;}
	.pop_contents h2 { float: none;}
	.quantity { display: block; float: none; margin: 0 auto; width: 300px;}
	.gray_drop h2 { text-align: left;}
	.custom-radio { text-align: left;}
	.totalCart h2 { float: left;}
	.img { margin-bottom: 15px;}
	.all-modals button.close { right: 0; top: 10px;}


} /* end media query*/

@media (max-width:680px){

	.button { padding: 20px 10px 6px; font-size: 15px;}
	.pop_contents { text-align: center;}
	.pop_contents h2 { float: none;}
	.quantity { display: block; float: none; margin: 0 auto; width: 300px;}
	.gray_drop h2 { text-align: left;}
	.custom-radio { text-align: left;}
	.totalCart h2 , .totalCart button { float: left; width: 100%; margin: 0 0 15px 0;}
	.orders img { width: 100%;}
	.orders a img { width: auto;}
	.orders h2 { padding: 15px 0 0 0; width: 100%; text-align: center;}
	.orders a {float: left; width: 100%; padding-bottom: 15px;}
	.nav-tabs > li > a { font-size: 15px;}


} /* end media query*/

@media (max-width:480px){
	.for-small  { float: left; width: 100%;}
	.button-group .button { width: 100%;}
	.ui-group .button-group { margin-right: 0;}
	.modal-content, .modal-body, .custom_width { float: left;}
	.pop_contents h2 { min-width: 0; font-size: 17px;}
	.quantity label { font-size: 17px;}
	.numb-box input[type="text"] { font-size: 17px;}
	.down, .up { margin-top: 0;}
	.quantity { width: 223px;}
	.sech2 h2, .last_remove h2 { font-size: 18px;}
	.last_remove > a { font-size: 15px;}
	.last_remove h2 { padding-top: 8px;}
	.gray_drop2 h2 { font-size: 18px;}
	.track_ul ul::before { height: 	280px;}
	.cartHeading h2 { font-size: 20px;}
	.v-gift .gift-percent{ width: 90px; height: 90px; border-width: 4px; font-size: 25px; line-height: 84px; }
	.v-gift h3{ font-size: 18px; }
	.v-gift h4{ font-size: 16px; }




} /* end media query*/

@media (max-width:330px){
.sech2 , .last_remove { width:100%;}
	.last_remove{ text-align: left; padding-top: 15px;}
	.sech2 h2, .last_remove h2 { float: left; font-size: 18px;  padding-right: 24px;  padding-top: 12px;}
	.modal-body { height: 432px; overflow-y: scroll;  padding: 15px;  position: relative;}
	.nav-tabs > li > a {min-height: 66px;}


} /* end media query*/

.popAndrate a img{max-width: 30px;}

.text-div
{
	background-color:#e5cfb9;
	padding:7px;
}
.text-division
{
  background-color:#f2f2f2;
  padding:7px;
}
.only {
  margin: 7px;
}
.no-pad
{
	padding-right:0px;
}
.disclaim
{
	padding: 7px;
}
#with-space
{
	margin-bottom:10px;
}
.table-pdf
{
	padding:10px;
}
.pdf-content
{
	padding:5px;
}