

 <div class="row bg-title" style="background:url(style/assets/elite/plugins/images/heading-title-bg.jpg) no-repeat center center /cover;">

       <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title" ><b style="color: white;"> Dashboard</b></h4>
                         <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
         
          <ol class="breadcrumb">
            <li><a routerLink="/">Dashboard</a></li>
            <li class="active">Model</li>
          </ol>
        </div>
                    </div>
        
        <!-- /.col-lg-12 --> 
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title"><i class="ti-shopping-cart text-success"></i> Order Received</h3>
            <div class="text-right"> <span class="text-muted">Todays Order</span>
              <h1><sup><i class="ti-arrow-up text-success"></i></sup> 12,000</h1>
            </div>
            <span class="text-success">20%</span>
            <div class="progress m-b-0">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:20%;"> <span class="sr-only">20% Complete</span> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title"><i class="ti-cut text-danger"></i> Tax Deducation</h3>
            <div class="text-right"> <span class="text-muted">Monthly Deduction</span>
              <h1><sup><i class="ti-arrow-down text-danger"></i></sup> $5,000</h1>
            </div>
            <span class="text-danger">30%</span>
            <div class="progress m-b-0">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%;"> <span class="sr-only">230% Complete</span> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title"><i class="ti-wallet text-info"></i> Revenue Stats</h3>
            <div class="text-right"> <span class="text-muted">Weekly Revenue</span>
              <h1><sup><i class="ti-arrow-up text-info"></i></sup> $10,000</h1>
            </div>
            <span class="text-info">60%</span>
            <div class="progress m-b-0">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%;"> <span class="sr-only">20% Complete</span> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title"><i class="ti-stats-up"></i> Yearly Sales</h3>
            <div class="text-right"> <span class="text-muted">Yearly Income</span>
              <h1><sup><i class="ti-arrow-up text-inverse"></i></sup> $9,000</h1>
            </div>
            <span class="text-inverse">80%</span>
            <div class="progress m-b-0">
              <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span class="sr-only">230% Complete</span> </div>
            </div>
          </div>
        </div>
      </div>

      <!--row -->
       
   
      <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="white-box">
                  <h3 class="box-title">Index Overview</h3>

             <div class="table-responsive">
             <div class="col-xs-3" >
                            <a routerLink= "/admin/model/create" class="btn btn-primary form-control" style="background: #b4977a; border: 1px solid #b4977a;">
                                + Create Shop 
                            </a>
          <!--
           <button class="deleteRow  btn btn-danger form-control" (click)="getAllList()" >
                              Refresh 
                          </button>-->
                        </div>
               <input type="text"  [(ngModel)]="term" placeholder="search of name">

              <table class="table product-overview"  >
                <thead>
                  <tr>
                    <th><a routerLink="/admin/model/index" (click)="sortType('name')" [class.active]="sortBy=='name'" > 
                    Name
                    </a></th>
                    <th>Email</th>                  
                        <th><a routerLink="/admin/model/index" (click)="sortType('num')" [class.active]="sortBy=='num'" > 
                        number</a></th>
                      <th>time</th>
                      <th>date</th>
                      <th>type</th>
                     <th>Gender</th>
                     <th>status</th>
                     <th>index</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let model of models|filter:term ;let i=index" >
                  <!-- |filter:term-->
                     <td>{{model.name | uppercase}}</td>
                     <td>{{model.email}}</td>
                   <td>{{model.num}}</td>
                   <td>{{model.timee}}</td>
                   <td>{{model.dates | date: 'y/MM/dd'}}</td>
                     <td>{{model.car}}</td>
                       <td>{{model.r1}}</td>
                      <td>{{model.area}}</td>
                      <td>{{i+1}}</td>
                    <td>
                    <a routerLink="/admin/model/{{model.shop_id}}/edit" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit Car" >
                    <i class="ti-marker-alt"></i></a>
                     
                    <a routerLink="/admin/model/{{model.shop_id}}" class="text-inverse p-r-10" data-toggle="tooltip" title="View Car">
                    <i class="fa fa fa-eye" ></i></a> 
                    <a (click)="delete(model.shop_id)" class="text-inverse" title="Delete Car" data-toggle="tooltip">
                     <i class="ti-trash" ></i></a> 
                     </td>
  
                 </tr>
                  <tr *ngIf="!models || models.length==0">
                       <td colspan="9"> no coffe disabled</td>
                  </tr>
                </tbody>
            </table>
            <div *ngIf="models">
         <h4>   total of row: {{ models.length }}</h4>
            </div>
     
            
<ul class="pagination">
  
  <li class="previous disabled"><span>Priv<i class="fa fa-icon fa-chevron-left"></i></span></li>

   <li class="active"><a href="#">1</a></li>
    <li class="next"><a href="#">next<i class="fa fa-icon fa-chevron-right"></i></a></li>
</ul>
   
              </div>
              </div>

          </div>  
      </div>

<!--
     <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
-->




















